@media (max-width: 1450px) {
  .container {
   max-width: 1040px; 
  }
  .header {
    .menu {
      &__item {
        margin-right: 40px;
      }
    }
  }
  .promo {
    &__title {
      padding-top: 200px;
      font-size: 50px;
    }
    .statistics {
      &__money {
        width: 500px;
      }
    }
  }
  .partners {
    &__brand {
      &-item {
        padding: 29px 29px;
      }
    }
  }
}

@media (max-height: 800px) {
  .container {
    max-width: 1040px; 
   }
  .header {
    .menu {
      &__item {
        margin-right: 40px;
      }
    }
  }
  .promo {
    &__title {
      padding-top: 200px;
      font-size: 50px;
    }
    .statistics {
      &__money {
        width: 500px;
      }
    }
  }
}

@media (max-height: 700px) {
  .promo {
    &__title {
      padding-top: 170px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .btn {
    padding: 10px 24px;
  }
  .header {
    .menu {
      &__item {
        margin-right: 20px;
      }
    }
  }
  .promo {
    background: url('../img/main-screen__bgc.png') no-repeat 60%/cover;
  }
  .about {
    &__img {
      margin-right: 70px;
      img {
        width: 400px;
      }
    }
    &__descr {
      margin-top: 40px;
    }
  }
  .about {
    padding-top: 160px;
  }
  .start {
    padding-top: 160px;
    &__text {
      margin-top: 30px;
    }
  }
  .partners {
    &__brand {
      &-item {
        padding: 40px 40px;
        img {
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    font-size: 34px;
    line-height: 130%;
  }
  .header {
    padding: 20px 0 0 20px ;
    nav {
      display: none;
    }
    &__btn {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
  .promo {
    &__wrapper {
      margin-top: 50px;
    }
    &__title {
      font-size: 38px;
    }
    .timer {
      &__wrapper {
        margin-top: 50px;
      }
      &__item {
        padding: 16px 24px;
      }
      &__num {
        font-size: 30px;
      }
    }
    .statistics {
      padding-top: 16px;
      &__wrapper {
        flex-wrap: wrap;
      }
      &__money {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .about {
    padding-top: 100px;
    &__img {
      padding-top: 50px;
      margin-right: 40px;
      height: 380px;
      img {
        width: 300px;
      }
    }
    &__descr {
      margin-top: 0px;
    }
    &__text {
      margin-top: 30px;
    }
  }
  .start {
    &__header {
      justify-content: center;
    }
    &__text {
      margin: 30px auto 0 auto;
    }
    &__info {
      grid-template-columns: unset;
      grid-template-rows: repeat(4, 150px);
      &-item {
        display: grid;
        grid-template-columns: 90px 100px 250px;
        grid-column-gap: 30px;
        justify-content: center;
      }
      &-graph {
        padding-top: 200px;
        padding-left: 50px;
        transform: rotate(90deg);
        width: 300px;
        height: 150px;
        &-1 {
          width: 150px;
          height: 80px;
        }
        &-2 {
          width: 150px;
        }
        &-3 {
          width: 150px;
        }
        &-4 {
          width: 150px;
        }
      }
      &-text {
        padding: 0;
      }
    }
  }
  .advantages {
    padding-top: 160px;
    &__wrapper {
      margin-top: 100px;
    }
    &__item {
      &-title {
        font-size: 16px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
  .partners {
    padding-top: 160px;
    &__brand {
      &-wrapper {
        margin-top: 80px;
        grid-template-rows: repeat(2, 90px);
      }
      &-item {
        padding: 10px 15px;
        img {
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .text {
    font-size: 14px;
  }
  .promo {
    &__title {
      font-size: 42px;
    }
    .timer {
      &__item {
        padding: 14px 20px;
      }
      &__num {
        font-size: 24px;
      }
    }
  }
  .about {
    &__wrapper {
      flex-direction: column;
    }
    &__img {
      margin: 0 auto;
      padding-top: 40px;
      height: 370px;
      width: 370px;
    }
    &__descr {
      margin-top: 60px;
    }
  }
  .start {
    padding-top: 140px;
    &__header {
      justify-content: start;
    }
    &__text {
      margin: 30px 0 0 0;
      width: 300px;
    }
    &__info {
      &-item {
        grid-template-columns: 60px 100px 290px;
      }
      &-text {
        padding-right: 50px;
      }
      &-num {
        font-size: 28px;
      }
    }
  }
  .advantages {
    &__wrapper {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 60px;
      &-title {
        margin-top: 20px;
      }
      &-text {
        margin-top: 20px;
      }
    }
  }
  .partners {
    padding-top: 100px;
    &__icon {
      margin-right: 23px;
    }
    &__brand {
      &-wrapper {
        margin-top: 60px;
        grid-template: repeat(4, 90px) / repeat(2, 220px);
        justify-content: center;
      }
      &-item {
        padding: 10px 25px;
        &:nth-child(2n) {
          border-right: none;
        }
        &:nth-child(-n + 6) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  .program {
    padding-top: 140px;
    &__week {
      &-wrapper {
        margin-top: 70px;
        grid-template-columns: repeat(2,210px);
        column-gap: 110px;
      }
      &-item {
        width: 210px;
        &:nth-child(2n) {
          &:after {
            width: 30px;
            left: -52px;
          }
          .program__week-descr {
            padding-right: 20px;
          }
        }
        &:nth-child(2n+1) {
          &:after {
            width: 30px;
            right: -52px;
          }
          .program__week-descr {
            padding-left: 20px;
          }
        }
      }
      &-descr {
        width: 210px;
      }
    }
  }
  .teachers {
    padding-top: 140px;
    &__wrapper {
      margin-top: 50px;
      flex-direction: column;
    }
    &__item {
      margin-top: 60px;
      &-name {
        margin-top: 20px;
      }
      &-btn {
        margin-top: 20px;
      }
    }
  }
  .footer {
    padding-top: 160px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    font-size: 28px;
  }
  .text {
    font-size: 12px;
  }
  .promo {
    &__title {
      padding-top: 150px;
      font-size: 32px;
    }
    .timer {
      &__item {
        margin-right: 16px;
        padding: 10px 14px;
      }
      &__num {
        font-size: 18px;
      }
    }
    .statistics {
      &__btn {
        font-size: 12px;
        padding: 10px 16px;
      }
      &__par {
        &-text {
          margin-right: 10px;
        }
        &-num {
          font-size: 14px;
        }
      }
      &__money {
        &-text {
          margin-right: 10px;
        }
        &-num {
          font-size: 14px;
        }
        &-line {
          &:after, &:before {
            font-size: 12px;
          }
        }
      }
    }
  }
  .about {
    &__img {
      padding-top: 20px;
      width: 250px;
      height: 250px;
      border-width: 20px;
      img {
        width: 200px;
      }
    }
  }
  .start {
    padding-top: 100px;
    &__icon {
      svg {
        width: 70px;
        height: 35px;
      }
    }
    &__text {
      width: 260px;
    }
    &__info {
      grid-template-rows: repeat(4, 180px);
      &-item {
        grid-template-columns: 30px 80px 140px;
      }
      &-graph {
        height: 180px;
        &-1 {
          height: 60px;
          width: 180px;
        }
        &-2 {
          height: 40px;
          width: 180px;
        }
        &-3 {
          height: 25px;
          width: 180px;
        }
        &-4 {
          height: 10px;
          width: 180px;
        }
      }
      &-num {
        font-size: 18px;
      }
      &-text {
        padding-right: 0;
      }
    }
  }
  .advantages {
    &__item {
      width: 300px;
      &-title {
        font-size: 16px;
      }
    }
  }
  .partners {
    &__icon {
      svg {
        width: 70px;
        height: 35px;
      }
    }
    &__brand {
      &-wrapper {
        grid-template: repeat(4, 60px) / repeat(2, 140px);
      }
      &-item {
        padding: 5px 15px;
        img {
          width: 100px;
        }
      }
    }
  }
  .program {
    &__icon {
      svg {
        width: 70px;
        height: 35px;
      }
    }
    &__title {
      margin-top: 20px;
    }
    &__text {
      width: 300px;
    }
    &__week {
      &-wrapper {
        padding-left: 50px;
        grid-template-columns: 260px;
        column-gap: unset;
        justify-content: left;
        &:before {
          left: 50px;
          transform: unset;
        }
      }
      &-item {
        text-align: left;
        margin: 20px 0 0 50px;
        &:nth-child(2n) {
          &:after {
            left: -44px;
          }  
          .program__week-descr {
            padding: 0;
          }
        }
        &:nth-child(2n+1) {
          &:after {
          right: unset;
          left: -44px;
          }
          .program__week-descr {
            padding: 0;
          }
        }
      } 
      &-descr {
        padding: 0;
      }
    }
  }
  .teachers {
    &__icon {
      margin-right: 23px;
      svg {
        width: 70px;
        height: 35px;
      }
    }
  }
  .footer {
    padding-top: 140px;
    &__text {
      margin-top: 18px;
      width: 300px;
    }
    &__form {
      margin-top: 40px;
      width: 300px;
    }
    &__input {
      width: 300px;
    }
    &__btn {
      top: 65px;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }
    &__social {
      &-wrapper {
        margin-top: 110px;
      }
    }
  }
}

