.partners {
  padding-top: 230px;
  @include background-main;
  &__header {
    display: flex;
  }
  &__icon {
    margin-right: 50px;
    transform: rotate(-135deg);
  }
  &__brand {
    &-wrapper {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 300px;
    }
    &-line {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 0 54px;
      &:first-child {
        position: relative;
        margin-bottom: 29px;
        &:after {
          position: absolute;
          content: '';
          height: 1px;
          width: 100%;
          bottom: -29px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.3);
        }
        .partners__brand-item {
          &:after {
            top: 0;
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }
      }
      &:nth-child(2) {
        position: relative;
        margin-top: 29px;
        .partners__brand-item {
          &:after {
            bottom: 0;
          }
          &:last-child {
            &:after {
              content: none;
            }
          }
        }
      }
    }
    &-item {
      position: relative;
      padding: 14px 0;
      &:after {
        position: absolute;
        content: '';
        height: 150px;
        width: 1px;
        right: -66px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    
  }
  
}